/*ema511_05_su_0002_s*/
.ema561_01_su_0002 .contents > .flex {
  gap: 26px;
}
.ema561_01_su_0002 .input_wrap {
  width: 817px;
}
.ema561_01_su_0002 .input_wrap > textarea {
  height: 250px;
}

.video_wrap {
  background: url(../../common_contents/img/EMA561_02_SU/002img.png) no-repeat
    center right -35px / 100%;
}
