/* EMA561_06_SU_0002_s  */
.video_wrap {
  flex: 1;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  border: 2px solid #f4f4f4;
  overflow: hidden;
  position: relative;
  background: url(../../common_contents/img/EMA561_02_SU/06_002img.png)
    no-repeat center right 0 / 100%;
}

.ema561_06_su_0002 .input_wrap {
  width: 817px;
}

.ema561_06_su_0002 .contents > .flex {
  gap: 26px;
}
.ema561_06_su_0002 .input_wrap > textarea {
  height: 250px;
}

.ema561_06_su_0002 .input_wrap .example_box > p {
  display: inline-block;
  line-height: 1.7;
}

.mini_dotted {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 48px;
  font-size: 16px;
  color: #1454b9;
  text-align: center;
  z-index: 1;
}

.mini_dotted::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #00a0e9;
  border-radius: 3px;
  background: #eef9ff;
  z-index: -1;
}

.dotted {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 16px;
  color: #1454b9;
  text-align: center;
  z-index: 1;
}

.dotted::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #00a0e9;
  border-radius: 3px;
  background: #eef9ff;
  z-index: -1;
}
