@charset "utf-8";
/* class로 색상변경 */
.contents .btn_area .btnBgGray{
    background-color: rgba(128, 128, 128, 1);
}
.btn_area > .btnBgDefault{
    background-color: var(--btn-default);
}


.video_wrap{
    background: url(../img/EMA521_01_SU/0002_contents.png) no-repeat left top / 100%;
    background-position-y: -75px;
    background-size: cover;
    height: 428px;
}
.videoExplainTitle{
    font-size: 32px;
    padding:0 0 12px 27px;
}
.videoExplainTitle li{
    list-style: disc;
    font-weight: bold;
}
.input_wrap textarea{
    min-height: 300px;
}
.example_area{
    gap: 15px;
    min-height: 0;
}
.example_area li{
    list-style: none;
}