.input_wrap .text_hint,
.dropdown_wrap .text_hint {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.5px;
}

/*EMA511_03_SU_0002_s*/
.ema511_03_su_0002 .contents > .flex{
    gap: 26px;
}
.ema511_03_su_0002 .input_wrap{
    width: 817px;
}
.ema511_03_su_0002 .input_wrap > textarea{
    height: 250px;
}

/*EMA511_03_SU_0003_s*/
.ema511_03_su_0003 .input_area{
    width: 715px;
}
.ema511_03_su_0003 .question_box{
    display: inline-flex;
    gap:88px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ema511_03_su_0003 .question_box > div > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_03_su_0003 .input_area article:not(.page_4) h3{
    margin-bottom: 40px;
}
.ema511_03_su_0003 .answer4 input{
    width: 150px;
}
.ema511_03_su_0003 .answer7 input{
    width: 184px;
}
.ema511_03_su_0003 .input_wrap > textarea{
    height: 250px;
}

.ema511_03_su_0003 .summarize > div:nth-child(3){
    height: 188px;
}
.ema511_03_su_0003 .float1{
    position: absolute;
    top: 86px;
    left: calc(50% - 10px);
}
.ema511_03_su_0003 .float2{
    position: absolute;
    top: 172px;
    left: calc(50% - 10px);
}
.ema511_03_su_0003 .page_5 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_03_su_0003 .hidden_obj[data-pair="1"]{
    width: 42px;
    position: absolute;
    top: 0px;
    left: -130px;
}
.ema511_03_su_0003 .hidden_obj[data-pair="2"]{
    width: 61px;
    position: absolute;
    top: 0px;
    left: -170px;
}
.ema511_03_su_0003 .hidden_obj[data-pair="3"]{
    width: 79px;
    position: absolute;
    top: 0px;
    left: -139px;
}
.ema511_03_su_0003 .page_5 .reveal_btn[data-pair="1"] {
    color: rgba(228, 0, 127, 1);
}
.ema511_03_su_0003 .page_5 .reveal_btn[data-pair="2"] {
    color: rgba(0, 160, 233, 1);
}
.ema511_03_su_0003 .page_5 .reveal_btn[data-pair="3"] {
    color: rgba(34, 178, 76, 1);
}
.ema511_03_su_0003 .page_5 .summarize > div span {
    text-align: center;
}
.ema511_03_su_0003 .page_5 .reveal_btn.margin{
    margin: 0 12px;
}
.ema511_03_su_0003:not([data-current-page="page_4"]) .btn_area .btnSubmit{
    display: none;
}
.ema511_03_su_0003[data-current-page="page_4"] .btn_area .btnCheck{
    display: none;
}
.ema511_03_su_0003[data-current-page="page_5"] section.title,
.ema511_03_su_0003[data-current-page="page_5"] .contents > div.flex,
.ema511_03_su_0003[data-current-page="page_5"] .btn_area .btnType
{
    display: none;
}
.ema511_03_su_0003[data-current-page="page_5"] section.title.type2 + section.contents{
    padding-top: 0;
}

/*EMA511_03_SU_0004_s*/
.ema511_03_su_0004 .question_box > span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_03_su_0004 article.page_1 .input_wrap{
    display: block;
    margin: 0 auto;
}
.ema511_03_su_0004 textarea{
    height: 250px;
}
.ema511_03_su_0004 article.page_1 .question_box{
    justify-content: center;
    gap: 100px;
    margin-bottom: 12px;
}
.ema511_03_su_0004 article.page_2 > .flex{
    gap: 120px;
}
.ema511_03_su_0004 .drawing_area{
    height: 230px;
}
.ema511_03_su_0004 .drawing_area.area1{
    width: 239px;
    left: 44px;
}
.ema511_03_su_0004 .drawing_area.area1 .dot_1{
    left: 35px;
}
.ema511_03_su_0004 .drawing_area.area1 .dot_2{
    left: 74px;
}
.ema511_03_su_0004 .drawing_area.area1 .dot_3{
    left: 114px;
}
.ema511_03_su_0004 .drawing_area.area1 .dot_4{
    left: 153px;
}
.ema511_03_su_0004 .drawing_area.area2{
    width: 261px;
    left: 44px;
}
.ema511_03_su_0004 .drawing_area.area2 .dot_1{
    left: 35px;
}
.ema511_03_su_0004 .drawing_area.area2 .dot_2{
    left: 76px;
}
.ema511_03_su_0004 .drawing_area.area2 .dot_3{
    left: 127px;
}
.ema511_03_su_0004 .drawing_area.area2 .dot_4{
    left: 167px;
}

.ema511_03_su_0004 article.page_3 .question_box:nth-child(2){
    justify-content: center;
    gap: 100px;
    margin-bottom: 12px;
}
.ema511_03_su_0004 article.page_3 .question_box:nth-child(3){
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 80px;
    letter-spacing: -1px;
}
.ema511_03_su_0004 article.page_3 .custom_select{
    width: 169px;
}
.ema511_03_su_0004:not([data-current-page="page_1"]) .btn_area .btnSubmit,
.ema511_03_su_0004[data-current-page="page_1"] .btn_area .btnCheck
{
    display: none;
}

/*EMA511_03_SU_0005_s*/
.ema511_03_su_0005 .contents > .flex{
    gap: 120px;
}
.ema511_03_su_0005 .question_box > span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_03_su_0005 .drawing_area{
    height: 230px;
}
.ema511_03_su_0005 .drawing_area.area1{
    width: 239px;
    left: 44px;
}
.ema511_03_su_0005 .drawing_area.area1 .dot_1{
    left: 36px;
}
.ema511_03_su_0005 .drawing_area.area1 .dot_2{
    left: 84px;
}
.ema511_03_su_0005 .drawing_area.area1 .dot_3{
    left: 121px;
}
.ema511_03_su_0005 .drawing_area.area1 .dot_4{
    left: 153px;
}
.ema511_03_su_0005 .drawing_area.area2{
    width: 261px;
    left: 44px;
}
.ema511_03_su_0005 .drawing_area.area2 .dot_1{
    left: 36px;
}
.ema511_03_su_0005 .drawing_area.area2 .dot_2{
    left: 90px;
}
.ema511_03_su_0005 .drawing_area.area2 .dot_3{
    left: 127px;
}
.ema511_03_su_0005 .drawing_area.area2 .dot_4{
    left: 177px;
}

/*EMA511_03_SU_0006_s*/
.ema511_03_su_0006 .input_area{
    width: 715px;
}
.ema511_03_su_0006 .question_box{
    display: inline-flex;
    gap:88px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.ema511_03_su_0006 .question_box > div > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_03_su_0006 .input_area{
    padding-top: 57px;
}
.ema511_03_su_0006 .answer1 input{
    width: 232px;
}