@charset "uft-8";
/* ema521_02_su_0003 */
.ema521_02_su_0003 .boolean_wrap{
    background: url(../img/EMA521_02_SU/0003_contents_1.png) no-repeat left top / 100%;
}
/* ema521_02_su_0010 */
.ema521_02_su_0008 .page_1 .question_box{
    background: url(../img/EMA521_02_SU/0008_contents_1.png) no-repeat left top / 100%;
    display: block;
}