.input_wrap .text_hint,
.dropdown_wrap .text_hint {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.drawing_area.hint {
    background-color: transparent;
}

/*EMA511_02_SU_0002_s*/
.ema511_02_su_0002 .contents > .flex{
    gap: 26px;
}
.ema511_02_su_0002 .input_wrap{
    width: 817px;
}
.ema511_02_su_0002 .input_wrap > textarea{
    height: 250px;
}

/*EMA511_02_SU_0003_s*/
.ema511_02_su_0003 .contents .flex{
    gap: 26px;
}
.ema511_02_su_0003 .question_box > div > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_02_su_0003 .group_box {
    min-height: 80px;
    padding: 10px 5px;
    background-color: rgba(238, 249, 255, 1);
}
.ema511_02_su_0003 .input_area{
    width: 715px;
}
.ema511_02_su_0003 .input_area h3{
    margin-bottom: 40px;
}
.ema511_02_su_0003 article.page_3{
    width: 100%;
}
.ema511_02_su_0003 article.page_3 .input_wrap{
    display: block;
    margin: 0 auto;
}
.ema511_02_su_0003 .input_wrap textarea{
    height: 308px;
}
.ema511_02_su_0003 .summarize > div:nth-child(3){
    height: 110px;
}
.ema511_02_su_0003 .page_4 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_02_su_0003 .hidden_obj[data-pair="1"]{
    width: 62px;
    position: absolute;
    top: 0px;
    left: -225px;
}
.ema511_02_su_0003 .hidden_obj[data-pair="2"]{
    width: 66px;
    position: absolute;
    top: 0px;
    left: -193px;
}
.ema511_02_su_0003 .page_4 .reveal_btn[data-pair="1"] {
    color: rgba(228, 0, 127, 1);
}
.ema511_02_su_0003 .page_4 .reveal_btn[data-pair="2"] {
    color: rgba(0, 160, 233, 1);
}
.ema511_02_su_0003:not([data-current-page="page_3"]) .btn_area .btnSubmit{
    display: none;
}
.ema511_02_su_0003[data-current-page="page_3"] .btn_area .btnCheck{
    display: none;
}
.ema511_02_su_0003[data-current-page="page_4"] section.title,
.ema511_02_su_0003[data-current-page="page_3"] .contents > div.flex,
.ema511_02_su_0003[data-current-page="page_4"] .contents > div.flex,
.ema511_02_su_0003[data-current-page="page_4"] .btn_area .btnType
{
    display: none;
}
.ema511_02_su_0003[data-current-page="page_4"] section.title.type2 + section.contents{
    padding-top: 0;
}

/*EMA511_02_SU_0004_s*/
.ema511_02_su_0004 .paging_layout {
    padding: 0 30px;
}
.ema511_02_su_0004 .question_box > div > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_02_su_0004 .group_box {
    min-height: 80px;
    padding: 10px 5px;
}
.ema511_02_su_0004 .group_box.blue {
    background-color: rgba(238, 249, 255, 1);
}
.ema511_02_su_0004 .input_wrap .text_hint {
    top: calc(100% + 10px);
}
.ema511_02_su_0004 article.page_3 .input_wrap{
    display: block;
    margin: 0 auto;
}
.ema511_02_su_0004 .input_wrap textarea{
    height: 308px;
}
.ema511_02_su_0004 .summarize > div:nth-child(3){
    height: 110px;
}
.ema511_02_su_0004 .page_4 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_02_su_0004 .hidden_obj[data-pair="1"]{
    width: 45px;
    position: absolute;
    top: 0px;
    left: -180px;
}
.ema511_02_su_0004 .hidden_obj[data-pair="2"]{
    width: 80px;
    position: absolute;
    top: 0px;
    left: -235px;
}
.ema511_02_su_0004 .page_4 .reveal_btn[data-pair="1"] {
    color: rgba(228, 0, 127, 1);
}
.ema511_02_su_0004 .page_4 .reveal_btn[data-pair="2"] {
    color: rgba(0, 160, 233, 1);
}
.ema511_02_su_0004:not([data-current-page="page_3"]) .btn_area .btnSubmit,
.ema511_02_su_0004[data-current-page="page_3"] .btn_area .btnCheck,
.ema511_02_su_0004[data-current-page="page_4"] section.title,
.ema511_02_su_0004[data-current-page="page_4"] .contents > div.flex,
.ema511_02_su_0004[data-current-page="page_4"] .btn_area .btnType
{
    display: none;
}
.ema511_02_su_0004[data-current-page="page_4"] section.title.type2 + section.contents{
    padding-top: 0;
}

/*EMA511_02_SU_0005_s*/
.ema511_02_su_0005 .question_box > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_02_su_0005 .drawing_area{
    width: 200px;
}
.ema511_02_su_0005 .drawing_area.area1 .dot_1{
    left: 63px;   
}
.ema511_02_su_0005 .drawing_area.area1 .dot_2{
    left: 111px;   
}
.ema511_02_su_0005 .drawing_area.area1 .dot_3{
    left: 150px;   
}
.ema511_02_su_0005 .drawing_area.area2 .dot_1{
    left: 63px;   
}
.ema511_02_su_0005 .drawing_area.area2 .dot_2{
    left: 123px;   
}
.ema511_02_su_0005 .drawing_area.area2 .dot_3{
    left: 161px;   
}
.ema511_02_su_0005 .drawing_area.area1{
    transform: translateX(-77px);
}
.ema511_02_su_0005 .drawing_area.area2{
    width: 220px;
    transform: translateX(-78px);
}
.ema511_02_su_0005 .label_1 {
    color: #E4007F;
    border: 2px solid #E4007F;
}

.ema511_02_su_0005 .line_1 {
    stroke: #E4007F;
}
.ema511_02_su_0005 .custom_select{
    width: 169px;
}

/*EMA511_02_SU_0006_s*/
.ema511_02_su_0006 .question_box > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_02_su_0006 .circle_blank {
    display: inline-block;
    width: 64px;
    aspect-ratio: 1/1;
    background-color: rgba(238, 249, 255, 1);
    border: 2px solid rgba(59, 113, 254, 1);
    border-radius: 50%;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.12);
}