@charset "utf-8";
.letCheck li{
    width: calc((100% - 24px) / 3);
}
.contents .letCheck{
    width: 1272px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 140px;
}
.help{
    position: absolute;
    right:0;
    bottom: 0;
}
.help img{
    width: 240px;
    height: 240px;
}