/* EMA531_02_su_0002 */

.ema531_02_su_0002 .video_wrap { 
    background: url(../img/EMA531_02_SU/imgbox.png) no-repeat center right / 100%;
}

.ema531_02_su_0002 .contents>.flex{
    gap: 26px;
}

.ema531_02_su_0002 .input_wrap {
    width: 757px;
    margin-bottom: 12px;
}

.ema531_02_su_0002 .input_wrap textarea {
    min-height: 210px;
}

.example_area{
    width: 757px;
    padding: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 20px;
    background: var(--primary-blue-50);
    resize: none;
    color: var(--primary-blue-800);
    display: flex;
    align-items: center;
    gap: 35px;
}
.example_title{
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background-color: var(--btn-default);
    color: white;
    text-align: center;
    padding-top: 5px;
}

.example_area p{
   font-size: 24px;
   font-weight: 700;
}

/* EMA531_02_su_0003 */

.container_box {
    width: 1326px;
    padding: 8px 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.container_box>.con_box {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_box {
    width: 180px;
    height: 44px;
    border-radius: 999px;
    background: #FCE3E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_box>p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.ema531_02_su_0003 .input_wrapper {
    margin-top: 20px;
}

.ema531_02_su_0003 .input_wrap {
    flex-direction: row;
}

.ema531_02_su_0003 .input_wrap h2 {
    margin-left: 12px;
}

h1 {
    margin-left: 20px;
}

table {
    width: 90%;
    margin: 0 auto;
}

.table_box th,td {
    width: 16.6%;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    padding: 15px 20px;
}

.ema531_02_su_0003 .input_area {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.ema531_02_su_0003 .input_area>.input_wrap {
    width: 100%;
    margin: 0 auto;
}

.ema531_02_su_0003 .example_area{
    width: 797px;
    min-height: 160px;
    padding: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 20px;
    background: var(--primary-blue-50);
    resize: none;
    color: var(--primary-blue-800);
    display: flex;
    gap: 35px;
}
.example_title{
    width: 44px;
    height: 44px;
    border-radius: 12px;
    background-color: var(--btn-default);
    color: white;
    text-align: center;
    padding-top: 5px;
}

.ema531_02_su_0003 .example_area {
    width: 80%;;
    min-height: 0;
    margin: 0 auto;
    margin-top: 12px;
}
.example_area p{
    font-size:24px;
    font-weight: 700;
}


.input_wrap textarea {
    min-height: 0;
}

.input_wrapper2 {
    position: relative;
    top: 10px;
    left: 150px;
    margin-bottom: 50px;
}

.input_wrapper2>.input_wrap {
    flex-direction: row;
}

.container {
    display: flex;
    margin-top: 60px;
}

.imgbox1,.imgbox2 {
    display: flex;
    align-items: center;
}

.imgbox2 {
    position: relative;
    left: -70px;
}

.imgbox1 img {
    z-index: 999;
    position: relative;
    left: 65px;
}

.imgbox2 img {
    z-index: 999;
    position: relative;
    right: -650px;
}

.box2 {
    width: 540px;
    height: 202px;
    padding: 40px 80px 10px 80px;
    border-radius: 999px;
    border: 5px dashed #B6B6DC;
    background: #FFF;
    position: relative;
    gap: 10px;
}


.box1 {
    width: 505px;
    height: 202px;
    padding: 40px 80px 10px 80px;
    border-radius: 999px;
    border: 5px dashed #EFB2AD  ;
    background: #FFF;
    position: relative;
    gap: 10px;
}
/* 
.ema531_02_su_0007 */

.ema531_02_su_0007 .input_wrapper>.input_wrap {
    flex-direction: row;
    top: 40px;
    left: 17%;
    margin-right: 70px;
}
.ema531_02_su_0007 .input_wrap>h2 {
    margin-left: 15px;
}

.ema531_02_su_0007 .border_wrap {
    position: relative;
    left: 15.6%;
    display: flex;
}

.ema531_02_su_0007 .page_1 img {
    margin: 0 auto;
}

.ema531_02_su_0007 .border {
    width: 180px;
    height: 44px;
    background-color: #FCE3E5;
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 60px;
    padding: 6px 32px 6px 22px;
}


.border>p {
    display: flex;
    align-items: center;
}

.border span {
    width: 13%;
    margin-right: 7px;
}

.imgposition {
    position: relative;
    top: 85px;
    left: 120px;
}

.imgposition>li:nth-child(2) {
    position: relative;
    top: 40px;
    left: -5px;
}


.text_wrapper {
    margin-top: 12px;
}

.text_wrapper>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_wrapper .input_wrap,.dropdown_wrap {
    margin: 0px 12px;
}

.text_wrapper img {
    margin: 0 12px;
}

.text_wrapper2 {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 32px 120px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 20px; */
    border-radius: 12px;
    border: 1px solid var(--Text-Color-Disable, #808080);
    background: var(--black-white-white, #FFF);
}

.text_wrapper2>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.text_wrapper2 .input_wrap {
    margin: 0px 12px;
}
.text_wrapper2 img {
    margin: 0px 12px;
}


.in {
   transform: translate(1200px, 32px);
}

.in>.input_wrap {
    flex-direction: row;
    align-items: center;
}

/* EM531_02_SU_0011 */

.ema531_02_su_0011 .page_1 img{
    margin: 0 auto;
}

.ema531_02_su_0011 .input_areas {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.ema531_02_su_0011 .input_areas .input_wrap {
    width: 100%;
    margin: 0 auto;
} 

.text_wrapper3 {
    margin-top: 60px;
}

.text_wrapper3>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_wrapper3 .input_wrap,.dropdown_wrap {
    margin: 0px 12px;
}

