.input_wrap .text_hint,
.dropdown_wrap .text_hint {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

/*EMA511_01_SU_0002_s*/
.ema511_01_su_0002 .contents > .flex{
    gap: 26px;
}
.ema511_01_su_0002 .input_wrap{
    width: 817px;
}
.ema511_01_su_0002 .input_wrap > textarea{
    height: 250px;
}

/*EMA511_01_SU_0003_s*/
.ema511_01_su_0003 .picture_wrap .txt {
    position: absolute;
    top: 0;
    left: 0;
}
.ema511_01_su_0003 .question_box > div > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_01_su_0003 .group_box {
    min-height: 80px;
    padding: 10px 5px;
    background-color: rgba(238, 249, 255, 1);
}
.ema511_01_su_0003 .contents .flex{
    gap: 26px;
}
.ema511_01_su_0003 .input_area{
    width: 715px;
}
.ema511_01_su_0003 article.page_3 .input_wrap{
    width: 715px;
}
.ema511_01_su_0003 .input_wrap > textarea{
    height: 250px;
}
.ema511_01_su_0003 .summarize > div:nth-child(3){
    height: 117px;
}
.ema511_01_su_0003 .page_4 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_01_su_0003 .hidden_obj[data-pair="1"]{
    width: 45px;
    position: absolute;
    top: 0px;
    left: -229px;
}
.ema511_01_su_0003 .hidden_obj[data-pair="2"]{
    width: 68px;
    position: absolute;
    top: 0px;
    left: -206px;
}
.ema511_01_su_0003 .page_4 .reveal_btn[data-pair="1"] {
    color: rgba(228, 0, 127, 1);
}
.ema511_01_su_0003 .page_4 .reveal_btn[data-pair="2"] {
    color: rgba(0, 160, 233, 1);
}
.ema511_01_su_0003:not([data-current-page="page_3"]) .btn_area .btnSubmit,
.ema511_01_su_0003[data-current-page="page_3"] .btn_area .btnCheck,
.ema511_01_su_0003[data-current-page="page_4"] section.title,
.ema511_01_su_0003[data-current-page="page_4"] .contents > div.flex,
.ema511_01_su_0003[data-current-page="page_4"] .btn_area .btnType
{
    display: none;
}
.ema511_01_su_0003[data-current-page="page_4"] section.title.type2 + section.contents{
    padding-top: 0;
}

/*EMA511_01_SU_0004_s*/
.ema511_01_su_0004 .paging_layout {
    padding: 0;
}
.ema511_01_su_0004 .question_box > div span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_01_su_0004 .group_box {
    min-height: 80px;
    padding: 10px 5px;
}
.ema511_01_su_0004 .group_box.blue {
    background-color: rgba(238, 249, 255, 1);
}
.ema511_01_su_0004 .input_wrap .text_hint {
    top: calc(100% + 10px);
}
.ema511_01_su_0004 article.page_3 .input_wrap{
    display: block;
    margin: 0 auto;
}
.ema511_01_su_0004 .input_wrap textarea{
    height: 308px;
}
.ema511_01_su_0004 .summarize > div:nth-child(3){
    height: 120px;
}
.ema511_01_su_0004 .page_4 span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_01_su_0004 .hidden_obj[data-pair="1"]{
    width: 52px;
    position: absolute;
    top: 0px;
    left: -180px;
}
.ema511_01_su_0004 .hidden_obj[data-pair="2"]{
    width: 88px;
    position: absolute;
    top: 0px;
    left: -244px;
}
.ema511_01_su_0004 .page_4 .reveal_btn[data-pair="1"] {
    color: rgba(228, 0, 127, 1);
}
.ema511_01_su_0004 .page_4 .reveal_btn[data-pair="2"] {
    color: rgba(0, 160, 233, 1);
}
.ema511_01_su_0004:not([data-current-page="page_3"]) .btn_area .btnSubmit,
.ema511_01_su_0004[data-current-page="page_3"] .btn_area .btnCheck,
.ema511_01_su_0004[data-current-page="page_4"] section.title,
.ema511_01_su_0004[data-current-page="page_4"] .contents > div.flex,
.ema511_01_su_0004[data-current-page="page_4"] .btn_area .btnType
{
    display: none;
}
.ema511_01_su_0004[data-current-page="page_4"] section.title.type2 + section.contents{
    padding-top: 0;
}

/*EMA511_01_SU_0005_s*/
.ema511_01_su_0005 .question_box > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_01_su_0005 .drawing_area.area1 .dot_1{
    left: 27px;   
}
.ema511_01_su_0005 .drawing_area.area1 .dot_2{
    left: 72px;   
}
.ema511_01_su_0005 .drawing_area.area1 .dot_3{
    left: 118px;   
}
.ema511_01_su_0005 .drawing_area.area2 .dot_1{
    left: 30px;   
}
.ema511_01_su_0005 .drawing_area.area2 .dot_2{
    left: 76px;   
}
.ema511_01_su_0005 .drawing_area.area2 .dot_3{
    left: 119px;   
}
.ema511_01_su_0005 .drawing_area.area1{
    min-width: 150px;
    width: 150px;
    transform: translateX(-69px);
}
.ema511_01_su_0005 .drawing_area.area2{
    min-width: 150px;
    width: 150px;
    transform: translateX(-69px);
}
.ema511_01_su_0005 .custom_select{
    width: 169px;
}
.ema511_01_su_0005 .label_1 {
    color: #E4007F;
    border: 2px solid #E4007F;
}

.ema511_01_su_0005 .line_1 {
    stroke: #E4007F;
}

/*EMA511_01_SU_0006_s*/
.ema511_01_su_0006 .question_box{
    gap: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.ema511_01_su_0006 .question_box > div > span {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -1px;
}
.ema511_01_su_0006 .answer1 input{
    width: 185px;
}
